/* You can add global styles to this file, and also import other style files */

@import '~@spartacus/styles/index';

:root {
    --cx-color-primary: #9792E3;
    --cx-color-secondary: #EDFFEC;
    --cx-color-text: #5E9F76;
    --cx-color-background: #5A5766;
    --cx-color-dark: #48435C;

    --cx-border-radius: 0em;
    --cx-buttons-border-radius: 0rem;
  }

  $skipComponentStyles: (cx-add-to-cart);

  %custom-add-to-cart {
    .btn {
        text-transform: uppercase;
    }
  }

  cx-add-to-cart {
    @extend %custom-add-to-cart !optional;
  }
  